fastapi
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
pyjwt
uvicorn
dotenv
python-multipart
passlib[bcrypt]
bcrypt==4.0.1
testcontainers[postgresql]
pytest
pytest-asyncio
httpx